div [class^="col-xs-1"]
{
  border: 10px solid black;
  text-align: center;
  background-color: pink;
}
.blog-body
{

/*  background-color: rgba(8, 45, 94, 0.95);*/
}
.encabezado
{
  background-color: black;
  height: 15rem;
}


.logo-img
{
  width:13rem;
  height: 13rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2.5rem;
}

.rejilla
{
  margin-top: 20px;
}
.redes-sociales
{
  margin-top: 80px;
  text-align: right;
}
.img-social
{
  width: 4em;
  height: 4em;
  margin: 0.7em;

}
.contenido
{
  margin: 2em auto;


}
.contenedorIyT

{
  min-height: 240px;
  padding: 0.5vw;
  border: 1px solid black;
  margin: 0.4vw;
  background: rgb(164, 96, 6);
}
.contenedorImg1
{
  margin: 0 auto;
  padding: 0.5vw;
  min-width: 100px;
  border: 5px solid black;
  text-align: center;
  background: rgb(217, 194, 151);
  min-height: 263.78px;
}
.contenedorTexto1
{
  margin: 0 auto;

    padding: 0.5vw;
    min-width: 100px;
    border: 5px solid black;
    text-align: center;
    background: rgb(217, 194, 151);
    min-height: 263.78px;
}
.contenedorImg2
{
  margin: 0 auto;
  padding: 0.5vw;
  min-width: 100px;
  border: 5px solid black;
  text-align: center;
  background: rgb(217, 194, 151);
  min-height: 270.78px;
}
.contenedorTexto2
{
  margin: 0 auto;

    padding: 0.5vw;
    min-width: 100px;
    border: 5px solid black;
    text-align: center;
    background: rgb(217, 194, 151);
    min-height: 270.78px;
}
.contenedorComent
{
  margin: 0 auto;

    padding: 0.5vw;
    min-width: 100px;
    border: 5px solid black;
    text-align: center;
    background: rgb(217, 194, 151);
}
.contenidoIzq
{
background-color: lightgrey;
}
.contenidoDer
{
background-color: lightgrey;
}
img.post1
{width: 95%;}
img.post2
{width: 82%;}
.contenedorBuscar
{
  background-color: lightgreen;
    height: 200px;
    width: 100%;

}
.contenedorOpciones
{
  background-color: lightpink;
  height: 730px;
    width: 100%;
}
