div [class^="col-xs-1"]
{
  border: 5px solid black;
  text-align: center;
  background-color: pink;
}
.encabezado
{
  background-color: black;
  height: 15rem;
}


.logo-img
{
  width:13rem;
  height: 13rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2.5rem;
}

.rejilla
{
  margin-top: 20px;
}
.redes-sociales
{
  margin-top: 80px;
  text-align: right;
}
.img-social
{
  width: 4em;
  height: 4em;
  margin: 0.7em;

}
.contenido
{
  margin: 2em auto;


}
.contenedorIyT

{
  min-height: 240px;
  padding: 0.5vw;
  border: 1px solid black;
  margin: 0.4vw;
  background: rgb(217, 194, 151);
}
.contenedorByO
{

  padding: 0.5vw;
  border: 1px solid black;
  margin: 0.4vw;
  background: rgb(164, 96, 6);
}
.contenedorImg1
{
  margin: 0 auto;
  padding: 0.5vw;
  min-width: 100px;
  border-top:3px solid black;
  border-left:0px solid black;
  border-bottom:3px solid black;
  border-right:3px solid black;
  text-align: center;
  background: rgb(217, 194, 151);
  min-height: 263.78px;
}
.contenedorTexto1
{
  margin: 0 auto;
  padding: 0.5vw;
  min-width: 100px;
  border-top:3px solid black;
  border-left:3px solid black;
  border-bottom: 3px solid black;
  border-right:0px solid black;
  text-align: center;
  background: rgb(217, 194, 151);
  min-height: 263.78px;
}

.contenedorImg2
{
  margin: 0 auto;
  padding: 0.5vw;
  min-width: 100px;
  border-top:3px solid black;
  border-left:3px solid black;
  border-bottom:3px solid black;
  border-right:0 solid black;
  text-align: center;
  background: rgb(217, 194, 151);
  min-height: 270.78px;
}
.contenedorTexto2
{
  margin: 0 auto;

    padding: 0.5vw;
    min-width: 100px;
    border-top:3px solid black;
    border-left:0px solid black;
    border-bottom:3px solid black;
    border-right:3px solid black;
    text-align: center;
    background: rgb(217, 194, 151);
    min-height: 274.11px;
}
.contenedorComent
{
  margin-top: 0.5vw;
  padding: 0.5vw;
  min-width: 100px;
  border: 3px solid black;
  background: rgb(217, 194, 151);
}
.contenidoIzq
{
background-color: lightgrey;
}
.contenidoDer
{
background-color: lightgrey;
}
img.post1
{width: 95%;}
img.post2
{width: 82%;}
.contenedorBuscar
{
  padding: 0.5vw;

  border: 3px solid black;
  background-color:rgb(217, 194, 151);
  width: 100%;

}
.contenedorOpciones
{

    padding: 0.5vw;
    border: 3px solid black;
    background-color: rgb(217, 194, 151);
    width: 100%;
}
.list-group
{
  margin-bottom:0;
}

@media only screen and (max-width: 767px)
{
    /* For mobile phones: */
  [class*="col-"]
    {
        width: 100%;
    }
  .img-social
    {
        width: 2.5em;
        height: 2.5em;
        padding: 0;
        margin: 0;
    }
  .redes-sociales
    {
      text-align: center;
      margin-top: 1rem;
    }
  .logo-img
    {
      width:8rem;
      height: 8rem;
      margin-left: .5rem;
    }
  nav
    {
      text-align: center;
    }
  .navbar-nav
    {
      width: 100%;
      padding-left: 15px;
      margin-right: 0;
      margin-left: 0;
    }
  .contenido
  {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .contenedorIyT, .contenedorImg1,.contenedorTexto1
  {
    border: 0px;
  }
  .contenedorComent,.contenedorImg2,.contenedorTexto2
  {
    border: 0px;
  }
  .contenidoIzq
  {
    padding-top: 0.5rem;
  }

  img.post1
  {
    margin-top:5rem;
  }
.contenedorBuscar, .contenedorOpciones
  {
    border: 0px;
  }
}
@media (min-width:768px) and (max-width:992px)
{
  .redes-sociales
    {
background-color: black;
      margin-top:0;
    }
    .contenido
    {
      margin-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .contenedorIyT, .contenedorImg1,.contenedorTexto1
    {
      border: 0px;
    }
    .contenedorComent,.contenedorImg2,.contenedorTexto2
    {
      border: 0px;
    }
    img.post1, img.post2
    {
      margin-top:1.5rem;
    }
    img.postf{ margin-top: 3.5rem;width: 81%;}
    img.postf1{ margin-top: 5rem;width: 81%; height: 160px;}
}
@media (min-width:993px) and (max-width:1200px)
{
  .contenedorIyT, .contenedorImg1,.contenedorTexto1
  {
    border: 0px;
  }
  .contenedorComent,.contenedorImg2,.contenedorTexto2
  {
    border: 0px;
  }
  img.post1, img.post2
  {
    margin-top:1.5rem;
  }
}
@media (min-width:1200px) and (max-width:1631px)
{
  .contenedorIyT, .contenedorImg1,.contenedorTexto1
  {
    border: 0px;
  }
  .contenedorComent,.contenedorImg2,.contenedorTexto2
  {
    border: 0px;
  }
}
